#navbar {
  width: 100%;
  background-color: rgb(18 21 32);
  height: 100px;
  position: fixed;
  z-index: 4;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-title {
  align-self: center;
}

.nav-title span {
  color: rgb(123, 22, 255);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
}

.nav-link {
  text-decoration: none;
  color: white;
  line-height: 1;
  align-items: center;
  font-size: 1.1em;
  font-weight: bold;
  transition-duration: 200ms;
}

.nav-link:hover {
  padding: 10px 15px;
  background-color: rgb(123, 22, 255);
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 43));
  border-radius: 50px;
}

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links-container li {
  display: flex;
  margin: 15px;
}
