#navbar {
  width: 100%;
  background-color: rgb(18 21 32);
  height: 100px;
  position: fixed;
  z-index: 4;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-title {
  align-self: center;
}

.nav-title span {
  color: rgb(123, 22, 255);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
}

.nav-link {
  text-decoration: none;
  color: white;
  line-height: 1;
  align-items: center;
  font-size: 1.1em;
  font-weight: bold;
  transition-duration: 200ms;
}

.nav-link:hover {
  padding: 10px 15px;
  background-color: rgb(123, 22, 255);
  filter: drop-shadow(0px 0px 10px rgb(235, 37, 235));
  border-radius: 50px;
}

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links-container li {
  display: flex;
  margin: 15px;
}

#menu-icon {
  display: none;
  background-color: blueviolet;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

#menu-icon path {
  fill: white;
}

#menu-icon svg {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  #menu-icon {
    display: flex;
    margin: auto;
  }

  .links-container {
    transition-duration: 300ms;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    top: 85px;
    right: 0;
    height: calc(100% - 100px);
    backdrop-filter: blur(10px);
  }

  .links-container li {
    margin: 30px;
  }

  .links-container.show {
    display: flex;
  }

  .links-container.hide {
    display: none;
  }

  .navbar-content {
    margin: auto;
    width: auto;
    max-width: none;
  }
}
