.coin-image {
  width: 50px;
  margin: auto;
  transition-duration: 200ms;
  opacity: 0;
  display: flex;
}

.coin-image:hover {
  filter: drop-shadow(0px 0px 10px rgb(235, 37, 235));
}

.sparkerline {
  height: 82px;
}

app-image.sparkerline {
  margin: 15px;
}
