.news-container {
  padding: 0;
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.new-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #121720;
  border-radius: 20px;
  margin: 30px 40px;
  width: 450px;
  min-height: 300px;
  opacity: 0;
  animation: opacityFade 200ms 0ms linear forwards;
  transition-duration: 200ms;
}

.new-card:hover {
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 43));
}

.new-card a {
  color: white;
  text-decoration: none;
}

.new-info {
  display: flex;
  flex-wrap: wrap;
}

.new-source {
  margin: 5px;
  text-transform: uppercase;
  color: rgb(92, 15, 194);
}

.new-country {
  margin: 5px;
  text-transform: capitalize;
  padding: 15px 18px;
  background-color: #23273a;
  border-radius: 50px;
  line-height: 0.8;
}

#loading-container {
  width: 100%;
}

#tittle {
  margin: 30px 10vw;
}

.load-box {
  background-color: rgb(41, 44, 46);
  border-radius: 10px;
  height: 1em;
  width: 120px;
  animation: loadingFade 2s 0ms alternate infinite ease-in-out;
}

.full-width {
  width: 100%;
}
